<div class="container">
    <div class="table mat-table">
        <table class="table align-middle table-dark table-bordered border-dark">
        <thead>
            <tr>
                <th scope="col" class="bg-primary text-center">Product Name</th>
                <th scope="col" class="bg-primary text-center">Description</th>
                <th scope="col" class="bg-primary text-center">Price (EGP)</th>
                <th scope="col" class="bg-primary text-center">Image</th>
                <th scope="col" class="bg-primary text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products | async">
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.description}}</td>
                <td class="bg-success text-center">{{item.price}}</td>
                <td class="text-center bg-light">
                    <img style="width: 225; height: 350;" class="" src="{{item.imageURL}}" alt="{{item.name}}">
                </td>
                <td class="text-center">
                    <button (click)="Details(item.id)" class="btn btn-info rounded-pill m-2">Details</button>
                    <span class="m-1"></span>
                    <button (click)="Delete(item.id)" class="btn btn-danger rounded-pill m-2">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
<app-productdetails></app-productdetails>
<app-addproduct></app-addproduct>
<button class="m-3 btn btn-lg btn-danger" (click)="logout()">Logout</button>
</div>